
.model1{
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .model2{
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fdfdfd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .editbtn{
      background-color: transparent;
  }

  .modal-content select{
    margin: auto;
    width: auto;
  }
  .modal-content input{
    margin: auto;
  }
  .modal-content table, tr,td{
    width: 500px;
      border: none;
  }

  .modal-content table tr{
      background-color: transparent;
  }

  .head2{
    font-size: 22px;
    font-weight: bold;
  }

  .head3{
    font-size: 20px;
  }

  .trashbtn{
      margin-left: 40px;
  }


  .modal-content .editbtn{
    background-color: rgba(224, 224, 224, 0.808);
    border: 1px solid ;
  }