body {
    background-image: url(/thoga.lk/public/images/admin/a.jpg);
}

.container {
    margin: 100px 1% 0px 1%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px"

}

h2 {
    margin-top: -10px;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

.back-button {
    background: rgb(70, 71, 71);
    color: white;
    font-size: 25px;
    line-height: 0.3;
    padding: 15px 15px 15px 10px;
    text-decoration: none;
    transition: all 0.9s;
    margin-bottom: 10px;
    display: inline-block;
}

.back-button:hover {
    background: rgba(131, 134, 134, 0.8);
}

.filters {
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(255, 254, 254, 0.678);
    height: auto;
    width: 80%;
    margin: auto;
    padding: 10px 50px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 3%;
}

input[type="date"] {
    font-size: 14px;
    width: 125px;
    line-height: 22px;
    border-radius: 5px;
    border: 2px solid rgb(13, 3, 105);
}

#resetb {
    margin-left: 10px;
    background-color: #01572c;
    color: azure;
}

input[type="text"] {
    width: 150px;
    font-size: 22px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 2px 5px 10px;
    border-radius: 5px;
    border: 2px solid rgb(13, 3, 105);
}

input[type="text"]::placeholder {
    font-size: 13px;
    color: rgba(0, 4, 65, 0.39);
}

.sbutton {
    background: #2E5F3E;
    color: white;
    font-size: 25px;
    line-height: 0.2;
    cursor: pointer;
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.sbutton:hover {
    background: rgba(1, 44, 20, 0.8);
}

.admin-btn {
    margin: 0px 10px 0px 50px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #000;
    width: 180px;
    height: 60px;
    color: #0a110d;
}

.admin-btn:hover {
    background: #253e30;
    color: rgb(255, 255, 255);
}

.admin-btn1 {
    margin: 0px 10px 0px 50px;
    padding: 1px 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    background: rgb(25, 29, 24);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    color: white;
}

.admin-btn1:hover {
    background: rgb(28, 21, 48);
    color: rgb(255, 255, 255);
}

.filterTopic {
    display: inline-block;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 7px;
    margin-top: 10px;
    line-height: 30px;
}


/* 7*************************************************8 */

table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #2E5F3E;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 950%;
        margin: 0 10px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}


/* 7************************************************** */

@media screen and (max-width: 1260) {
    .input[type="date"] {
        width: auto;
        border-radius: 20%;
        outline: 10px rgb(0, 0, 0);
    }
}


.bold{
    font-weight: bold;
}

.container2 {
    float: right;
    text-align: left;
    width: 37%;
}

input[type="text"].mdetails {
    border: none;
    font-size: 25px;
    border-radius: 0px;
    width: auto;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-left: 5px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 20px !important;
}

textarea {
    float: left;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 0px;
}

input[type="text"].details {
    border: none;
    font-size: 25px;
    width: 50%;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-left: 5px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 20px !important;
}

.Dlabel {
    font-size: 24px;
    padding-bottom: 50px;
}

label{
    font-weight: bolder;
}

.cartcontainer {
    display: block;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    color: rgb(0, 0, 0);
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    /* margin: 50px auto 30px auto; */
    padding: 30px 10px;
}

.detailContainer {
    height: auto;
    
    margin: 30px 50px;
    color: rgb(0, 0, 0);
    padding: 30px 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);

}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }
    .container2 {
        float: left;
        width: 100%;
    }
    .detailContainer {
        padding: 5px 10px;
    }
}

.az {
    background-color: rgb(209, 2, 2);
}

.banner {
    margin: 00px;
}

.cbox {
    width: 15px;
    height: 15px;
}

.actionA {
    margin-right: 20px;
}

.preview {
    height: 80px;
    margin: auto;
}

.centerit {
    padding-left: 25px;
    align-content: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #ebe6e6f8;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 350px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.lable {
    float: left;
    width: 15%;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 700;
    line-height: 0px;
}

input[type=text],
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 55%;
    background-color: #fafafa;
    margin-bottom: 30px;
    display: block;
}

select {
    font-size: 18px;
}

option {
    font-size: 18px;
    background-color: rgb(255, 251, 251);
}

option:hover {
    background-color: #013457 !important;
    box-shadow: 0 0 10px 100px #000 inset;
}

.submit-btn {
    float: left;
    background-color: #141414;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 50px;
    display: inline;
}

.sbuttonp {
    background: #2E5F3E;
    color: white;
    font-size: 25px;
    line-height: 0.2;
    cursor: pointer;
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 40px;
}

button {
    font-size: 16px;
    background-color: #b3dbf03b;
    border: none;
    cursor: pointer;
}

.MainContainer{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    width: 90%;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 60px;
}

@media print {
    .noPrint{
      display:none;
    }
  }