body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(250, 248, 248);
    
  }
  
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.8s;
    padding-right: 15px;
  }
  
.topnav a:hover, .topnav a.active:hover {
    background-color: #ddd;
    color: red;
    text-decoration: none !important;
    border-bottom: 3px solid #63626259; 
  }
  
.topnav a.active {
   
    border-bottom: 3px solid red; 
    text-decoration: none !important;
    transition: 0.8s;

 }
  
.topnav .icon {
    display: none;
  }
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.navlogo{
    width: 200px;
    
}
.nav-right{
    float: right;
}
.button_signup{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    margin: 12px 18px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#70a401;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
    
}

a.button_signup:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
a.button_signup{
    display:block;
    margin:0.4em auto;
}
}

