*{
    box-sizing: border-box;
}
body {
  /* background: url('/thoga.lk/public/images/driver/98.jpg'); */
  /* #background-image:url("../../../public/images/driver/img7.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
    text-align:center;
    padding-top:75px;
    padding-bottom:20px;
}
h1{
    
    text-align:center;
}
.menu {
    float:left;
    width:70%;
    text-align:center;
    padding-top:10px;
    margin-left:20px;
    margin-top:5px;
    padding-bottom: 30px;
}
.right{
    float:left;
    width:22%;
    padding-top:0px;
    text-align:center;
    font-size:25px;
    color:black;
    margin-left:50px;
    margin-bottom:10px;

}
.transboxx {
   
    padding: 0px;
    padding-top:50px;
    padding-bottom:50px;
    border: 2px solid #2E5F3E ;
    box-shadow:0 5px 15px rgba(0,0,0,.9);
    background-color:white;
}


.topic{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:black;
}
.vehicle{
  width:80%;
    float: left;
    margin-left:20px;
}

.button1 {
    color:white;
    text-decoration: none;
    background: #4CAF50;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
  }
  
.button2 {
      color:white;
      text-decoration: none;
      background: grey;
      padding: 8px;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      border: none;
      transition: all 0.4s ease 0s;
      cursor: pointer;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  border:1.5px solid black;
  border-radius: 20px ;
  /* overflow: hidden; */
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  position: relative;
}
table * {
  position: relative;
}

th{
  line-height:2.6;
  font-size: 20px;
  background-color:  #2E5F3E;
  color:white;
}
    
tr:nth-child(even) {
  background-color: #ffffff;
}
    
tr {
     
  font-size: 19px;
  color: black;
  line-height: 2.7;
  font-weight: unset;
  background-color: #ffffff;
  border:1px solid black;
      
}
td{
  text-align: center;
      
}
    
tr:hover {
  background-color:#b3d9ff;
      
}
    

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
      
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
      
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
      
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
      
input:checked + .slider {
  background-color: #2196F3;
}
      
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
      
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
      
     
.slider.round {
  border-radius: 34px;
}
      
.slider.round:before {
  border-radius: 50%;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    
  table { 
    width: 100%; 
  }
    
        
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
        
        
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
        
  tr { border: 1px solid #ccc; }
        
  td { 
           
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
    
  td:before { 
          
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
    }
    
    } 
    
    tr:hover {
      background-color:#b3d9ff;
      
    }
      

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .right {
        width:100%;
    }
}