* {
    box-sizing: border-box;
}
body {
  background: url('/thoga.lk/public/images/driver/98.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header{
    text-align:center;
    padding-top:75px;
    padding-bottom:20px;
}
h1{
    
    text-align:center;
}
.menu {
    float:left;
    width:70%;
    text-align:center;
    padding-top:10px;
    margin-left:20px;
    margin-top:5px;
    padding-bottom: 30px;
    margin-bottom:30px;
}
.right{
    float:left;
    width:22%;
    padding-top:0px;
    text-align:center;
    font-size:25px;
    color:black;
    margin-left:50px;
    margin-bottom:30px;

}
.transboxx {
    
    padding: 15px;
    padding-bottom:20px;
    border: 1px solid darkblue;
    box-shadow:0 5px 15px rgba(0,0,0,.9);
    background-color:#fff;
}
.contain{
    width:50%;
    float:left;
    z-index: 0;

}
.bottom{
    margin-top:20px;
    width:70%;
}
  
 
.sright {
   
    width: 50%;
    overflow-x: hidden;
    text-align:left;
    margin-right:5px; 
    margin-left:20px;
    padding-left:20px;
    z-index: 0;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border:1px solid black;
    border-radius: 10px ;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
    position: relative;
    margin:10px;
  }
  table * {
    position: relative;
  }

th{
   line-height:2;
   font-size: 18px;
   background-color:#2E5F3E;
   color:white;
 }
  
  tr:nth-child(even) {
    background-color: #f5f5f5a9;
  }
  
  tr {
   
    font-size: 16px;
    color: black;
    line-height: 2;
    font-weight: unset;
    background-color: #f5f5f5;
    border:1px solid black;
    text-align:center;
    border-collapse: collapse;
  }
  
.image{
  border:2px solid black;
  height: 250;
  width: 350;
  height:auto;
  width:auto;
  text-align: center;
  margin:20px;
  
}
.topic{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:black;
}
.vehicle{
  width:80%;
    float: left;
    margin-left:20px;
}
.imagevehicle{
  width:100%;
  height:40%;
}
.button2 {
  color:black;
  text-decoration: none;
  margin-left:40px;
  background: #f54848;
  background: grey;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid black;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
  

input[type=text] {
      margin-top:10px;
      margin-bottom:10px;
      margin-left:10px;
      padding: 2px;
      height: 30px;
      position: relative;
      color:black;
      left: 0;
      outline: none;
      border:none ; 
      border-bottom: 1px solid black;
      background-color: white;
      font-size: 16px;
}
      

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .right, .image ,.sright{
        width:100%;
    }
}