* {
    box-sizing: border-box;
}
body {
  
    /* background: url('/thoga.lk/public/images/driver/98.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
    

header{
    text-align:center;
    padding-top:75px;
}

.button1{
    cursor: pointer;
    background-color: #44925b91;
    border: none;
    text-decoration: overline;
    font-size: 16px;
    font-weight: bold;
    /* color: #ffffff; */

}

.left{
    float:left;
    width:40%;
    padding:18px;
    padding-top:30px;
    padding-left: 20px;
    text-align:left;
    margin-left:10px;
    margin-bottom:15px;
    font-size:18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    border-radius: 25px;
    
}
.right{
    
    float:left;
    width:40%;
    padding:18px;
    padding-top:30px;
    text-align:center;
    margin-left:10px;
    margin-bottom:15px;
    font-size:18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    border-radius: 25px;
    

}
.bottom{
    
    width:100%;
    padding:20px;
    padding-top:40px;
    margin-top:60px;
    margin-bottom:20px;
    text-align:center;
    font-size:20px;
    font-weight: bold;
    color:black;
    
}

.address{
    padding-left:120px;
 
}
.transbox {
    
    opacity: 0.8;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    box-shadow:0 5px 15px rgba(0,0,0,.9);
    /* border: 2px solid #2E5F3E ; */
    /* border-radius: 25px; */
    
}
.transbox p {
    
    margin: 5%;
    font-weight: bold;
    color: #000000;
    
}
.topic{
    font-family: Arial, Helvetica, sans-serif;
    padding:0.1px;
    text-align:center;
    color:black;
}

input[type=text] {
    margin-top:10px;
    margin-bottom:10px;
    padding: 2px;
    height: 30px;
    position: relative;
    color:black;
    left: 0;
    outline: none;
    border: 1px solid darkblue ; 
    background-color: white;
    font-size: 16px;
}

.advancedSearchTextbox {
    width: 500px;
    
}
.advancedSearchTextbox1 {
    width: 150px;
    text-align:center;
    font-size:30px;
    border-color: black
}
.fin{
    
    margin-right:70px;
    text-align:right;
}
mark {
    
    color: black;
    padding: 5;
}
.highlightme { 
    padding: 5;
    background-color:lightsteelblue; 
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border:1.5px solid black;
    border-radius: 20px ;
    /* overflow: hidden; */
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    position: relative;
  }
  table * {
    position: relative;
  }
  
  th{
    line-height:2.6;
    font-size: 20px;
    background-color:  #2E5F3E;
    color:white;
  }
      
  tr:nth-child(even) {
    background-color: #ffffff;
  }
      
  tr {
       
    font-size: 19px;
    color: black;
    line-height: 2.7;
    font-weight: unset;
    background-color: #ffffff;
    border:1px solid black;
        
  }
  td{
    text-align: center;
        
  }
      
  tr:hover {
    background-color:#ffffff;
        
  }

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .left {
    width:100%;
    }
    .right{
        width:100%;
    }
}


.model1{
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 8px solid #4CAF50;
    outline: 8px solid #2E5F3E;

    width: 40%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
