.title{
    font-family: sans-serif;
    color: #111011;
    text-align: center;
    margin-top: 120px;
}



.container {
  padding: 20px;
  color: white;
  text-align: center;
  width:70%;
  background:white;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  box-sizing:border-box;
  font-size:18px;
  border-radius: 50px;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  font-style: bold;
  margin-top: 150px;


}


@media screen and (max-width:768px){
  .container{
    
    width: 60%;
    margin-top: 120%
    }

  
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 2px solid #ddd;
  margin-top: 30px;
  margin-bottom: 100px;

}
th{
	background-color: #253E30;
  	color: white;
}



th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even){
	background-color:#ffff;
}

.delete{

  background-color: #4CAF50;
  width: 80%;
  border-radius: 5px;
  color: white;
  padding: 10px 18px;
  opacity: 0.9;

}
.dele:hover{
  opacity: 2;
}

.more{

    background-color: #2E5F3E;
    width: 80%;
    border-radius: 5px;
    color: white;
    padding: 10px 18px;
    opacity: 0.9;
  
  }
  .more:hover{
    opacity: 2;
  }



@media screen and (max-width: 768px){
	table{
		margin-top: 40px;
	}
	.title{
		margin-top: 120px
	}
	
}
