.title {
  font-family: sans-serif;
  color: #070607;
  text-align: center;
  margin-top: 80px;
  margin-left: 100px;
}

.title2 {
  font-family: sans-serif;
  color: #070607;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 80%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 88%;
  border: 2px solid #ddd;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: sans-serif;
  margin-left: 100px;
}
th {
  background-color: #253e30;
  color: white;
}

th,
td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.more {
  background-color: #2e5f3e;
  width: 80%;
  border-radius: 5px;
  color: white;
  padding: 10px 18px;
  opacity: 0.9;
  text-decoration: none;
}
.more:hover {
  opacity: 2;
}

.topic {
  background-color: whitesmoke;
  width: 80%;
  border-radius: 5px;

  padding: 10px 18px;
  opacity: 0.9;
  text-decoration: none;
}
.topic:hover {
  opacity: 2;
}

.flex-container {
  display: flex;
}

.flex-item-left {
  padding: 10px;
  flex: 100%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

@media screen and (max-width: 768px) {
  table {
    margin-top: 40px;
  }
  .title {
    margin-top: 60px;
  }
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
