body{
  background: url(/thoga.lk/public/images/admin/signupbg.jpg);
  background-size: 100vw auto;
  background-repeat:repeat-y ;
}

.title{
    font-family: sans-serif;
    color: #040431;
    text-align: center;
}
.tabContainer{
    width: 70%;
    height: auto;
    margin-left: 15%;
}
.tabContainer .buttonContainer{
    height: 40px;
     
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(204, 204, 204);
  
}
.tabContainer .buttonContainer button:hover{
    background-color: #f0eaea;
}
.tabContainer .tabPanel{
    height: auto;
    padding-bottom: 20px;
    background-color: gray;
    color: white;
    text-align: left;
    padding-top: 55px;
    padding-left: 10px ;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.desc{
  margin: 20px 0px 10px 26%;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.lable{
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-left: 10px;
}

.agreement{
  margin: 20px 0px 20px 30%;
  font-size: 18px;
}

.inpbox{
  float: left;
  width: 65%;
  margin-top: 6px;
  /* margin-right: 10px; */
}

select {
  background-color: #fafafa;
}

input[type=text],input[type=password], input[type=tel], select, option, textarea, datalist, input.dl, input[type=date] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #fafafa;
}

input[type=tel]{
  letter-spacing: 0.75px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cbox{
  transform: scale(2);
  height: 10px;
  font-size: 30px;
}

[type=submit] {
  margin: 25px auto 0px 28%;
  width: 50%;
  border: 0;
  background-color: #13b4b9;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  
}

.grid .row .lable1{
  margin-right: 25.5%;
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-left: 10px;
}

.grid .row .lable2{
  margin-right: 0%;
  float: left;
  width: 30%;
  margin-top: 15px;
  margin-left: 10px;
  
}

.logo{
  margin: 0px 45%;
  width:auto;
  height: 60px;
}

.grid .row .inpbox{
  width: 47%;
}

input[type="file"] {
  width: 35%;
  margin-bottom: 15px;
}

@media screen and (max-width: 909px) {
  .lable, .inpbox{
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
  .logo{margin: 0px 38%;}
  .inpbox{margin-bottom: 5px;}
  input[type="file"] {width: 55%;}
  input[type=submit]{width:90%;margin-left: 5%;}
  body{padding:0px;background: #65cc51;}
  .tabContainer{margin-left: 5%;width: 90%;}
  .desc{
    margin: 25px 0px 5px 28px;
  font-size: 16px;
  text-decoration: underline;
  }
  .agreement{
    margin: 15px 0px;
    font-size: 14px;
    text-align: center;
  }
  .tabContainer .tabPanel{
    text-align: left;
  }
  .grid{
    display: block;
  }
  .grid .row .lable1 , .grid .row .lable2 {
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
  .grid .row .inpbox{
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
}


