.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
    margin-top: 30px;
}

.container {
  padding: 20px;
  color: white;
  text-align: center;
  width:70%;
  background:rgba(0,0,0,0.2);
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  box-sizing:border-box;
  font-size:18px;
  border-radius: 50px;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  font-style: bold;
  margin-top: 10px;


}

.fback_heading{
	position: fixed;
	top: 8.05%;
	right: 0%;
	text-align: center;
	color: white;
	background-color:#252525; 
	width: 100%;
	z-index: 1;
	border-top: 1px solid aqua;
	letter-spacing: 10px;
}



@media screen and (max-width:768px){
  .container{
    
    width: 90%;
    margin-top: 20%
  }
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #ddd;
  margin-top: 30px;

}
th{
	background-color: #4CAF50;
  	color: white;
}


th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

@media screen and (max-width: 768px){
	table{
		margin-top: 40px;
	}
	.title{
		margin-top: 80px
	}
}
