.container{
    background-color: rgb(255, 255, 255);
    height: 300px;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 15% auto 20%;
    grid-gap: 50px;
}

.grid-item0{
    background-color: rgba(243, 243, 243, 0.596);
    text-align: left;
    padding: 20px 10px;
    font-size: 30px;
    height: 300px;
    position: sticky;
}

.grid-item1{
    background-color: rgba(243, 243, 243, 0.596);
    text-align: left;
    padding: 20px 10px;
    font-size: 30px;
    height: auto;
}

.filter-screen{
    grid-area: topics;
    display: contents;
}

.content{
    grid-area: items;
    color:  blue;
}

@media screen and (max-width: 600px) {
    .filter-screen{display: none;}
    .content{width: 0.7vw;margin: 0px 0px;}
    .container{grid-gap: 0px;}
}

.filter-topic{
    font-size: 20px;
    font-weight: bold;

}

.filter-items{
    padding-left: 30px;
    font-size: 20px;
    font-weight: light;
}

.filter-topic ::before{
    content:"\f007";
}

.forum-container{
    padding:10px;
    margin: 0px 30px;
    background-color: rgb(221, 226, 226);
    height: 300px;
    margin-bottom: 20px;

}
.forum-contols{
    background-color: rgb(207, 206, 206);
    font-size: 15px;
    height: 125px;
    width: 100px;
    float: left;
    margin: 20px 30px 0px 10px ;
    padding-top: 20px;
}
.forum-content{
    padding: 20px 30px;
    font-size: 18px;
}

.forum-topic{
    font-size: 25px;
    font-weight: bold;
}

.ad{
    height: auto;
    width: 100%;
}

.reply{
    border:1px solid rgb(0, 0, 0);
    font-size: 17px;
    margin-left: 130px;
    padding-left: 8px;
}