body{
  background-color:rgb(230, 228, 228);
}

.title{
    font-family: sans-serif;
    color: #040431;
    text-align: center;
}
.tabContainer{
    width: 70%;
    height: auto;
    margin-left: 15%;
}
.tabContainer .buttonContainer{
    height: 40px;
     
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(230, 228, 228);
  
}
.tabContainer .buttonContainer button:hover{
    background-color: #f0eaea;
}
.tabContainer .tabPanel{
    height: auto;
    padding-bottom: 20px;
    background-color: gray;
    color: black;
    text-align: left;
    padding-top: 55px;
    padding-left: 10px ;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.desc{
  margin: 20px 0px 10px 26%;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.lable{
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-left: 10px;
}

.agreement{
  margin: 20px 0px 20px 26%;
  font-size: 18px;
}

.inpbox{
  float: left;
  width: 65%;
  margin-top: 6px;
  /* margin-right: 10px; */
}


input[type=text],input[type=password], input[type=tel], select, option, textarea, datalist, input.dl, input[type=date] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #fafafa;
}

input[type=tel]{
  letter-spacing: 0.75px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cbox{
  transform: scale(2);
  height: 10px;
  font-size: 30px;
}

input[type=submit] {
  margin: 25px auto 0px 28%;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.767);
  background-color: #08a716;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px #0c10eb2c;
}
input[type=submit]:disabled{
  background-color: #00861d;
  color: rgb(197, 202, 218);
  box-shadow: 3px 3px 3px 3px #0c10eb2c;
}

input[type=submit]:enabled:hover{
  background-color: #19d642;
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px 3px #0c10eb2c;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  
}

.grid .row .lable1{
  margin-right: 25.5%;
  float: left;
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
}

.grid .row .lable2{
  margin-right: 0%;
  float: left;
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  
}

.logo{
  margin: 0px 45%;
  width:auto;
  height: 60px;
}

.grid .row .inpbox{
  width: 47% !important;
}

input[type="file"] {
  width: 35%;
  margin-bottom: 15px;
}

.select2.select2-container {
  width: 45% !important;
  height: 145% !important;
  margin-top: 7px !important;
  font-size: 15px !important;
}

.select2-container .select2-selection--single {
  height: 37px !important;
  padding-top: 4px !important;
}

.s2 {
  width: 6% !important;
  margin-top: 700px !important;
  font-size: 15px !important;
}

@media screen and (max-width: 909px) {
  .lable, .inpbox{
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
  .logo{margin: 0px 38%;}
  .select2.select2-container {
    width: 88% !important;
    margin-top: 7px !important;
    margin-left: 6vw !important;
    margin-bottom: 7px !important;
  }
  .inpbox{margin-bottom: 5px;}
  input[type="file"] {width: 55%;}
  input[type=submit]{width:90%;margin-left: 5%;}
  body{padding:0px;background: url(/thoga.lk/public/images/admin/signupbg.jpg);background-attachment:fixed;}
  .tabContainer{margin-left: 5%;width: 90%;}
  .desc{
    margin: 25px 0px 5px 28px;
  font-size: 16px;
  text-decoration: underline;
  }
  .agreement{
    margin: 15px 0px;
    font-size: 14px;
    text-align: center;
  }
  .tabContainer .tabPanel{
    text-align: left;
  }
  .grid{
    display: block;
  }
  .grid .row .lable1 , .grid .row .lable2 {
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
  .grid .row .inpbox{
    width: 90%;
    margin-top: 0;
    margin-left: 25px;
  }
}

.back-button {
  background: rgb(3, 160, 55);
  color: rgb(241, 254, 255);
  font-size: 25px;
  line-height: 0;
  padding: 15px 18px 15px 15px;
  text-decoration: none;
  transition: all 0.9s;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
}

.back-button:hover {
  box-shadow: none;
  background: rgba(3, 168, 66, 0.8);
}


.test{
  width: 100 px !important;
}