.formcontent{
	font-size: x-large;
	padding: 16px;
	margin-top: 100px;
	background-color: rgba(0,0,0,0.6);
	color:white;
	width: 80%;
}
#loader {
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	margin-top: 250px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid lightskyblue;
	width: 180px;
	height: 180px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	animation-duration: 3s;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.animate-bottom {
	font-size:x-large;
	margin-top: 250px;
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}
  
#myDiv {
	display: none;
	text-align: center;
}
.bodyclass2{
	background-color:white;
}