
.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 70%;
    height: 1100px;
    margin-left: 15%;
}
.tabContainer .buttonContainer{
    height: 40px;
     
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #333;
  
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
  
}



.tabContainer .tabPanel{
    height: 85%;
    background-color: grey;
    color: white;
    text-align: left;
    padding-top: 55px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.lable{
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-left: 10px;
}

.inpbox{
  float: left;
  width: 65%;
  margin-top: 6px;
  /* margin-right: 10px; */
}

@media screen and (max-width: 909px) {
  .lable, .inpbox, input[type=submit]{
    width: 90%;
    margin-top: 0;
    margin-left: 5px;
  }
  .tabContainer .tabPanel{
    text-align: left;
  }
}

input[type=text], select, textarea, input[type=date] {
/*   width: 100%; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}




.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

