

.container{
    margin: 80px 10px;
    display: grid;
    grid-template-columns: 75% auto;
    grid-gap: 10px;
    font-family:  Merriweather;
    font-weight: 540;

}


.sbtn {
    margin-top: 20px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background:  #4CAF50;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    margin-right: 50%;
    color: white;
    float: right;
}

.replyh{
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffffde;
    margin-left: 0px;
    font-size: 22px;
    padding: 10px;
    width: 20%;
}

.writereply{
    margin-left: 5%;
}

.TAcontainer{
    float: left;
    width: 90%;
    height: 10%;
    margin-left: 0%;

}
.nicEdit-main{
    background-color: white;
    font-size: 30px;
}

.maincontainer{
    height: auto;
}


.ad{
    margin-top: 20px;
    height: auto;
    max-width: 100%;
    width: auto;
}

.forum-container{
    padding:10px;
    margin: 0px 30px;
    background-color: rgba(255, 255, 255, 0.918);
    height: auto;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 10px 11px 8px #ffffff2f;
    display: inline-block;
}

.noreply{
    color: rgba(87, 87, 87, 0.815);
    margin-bottom: 30px;
    margin-top: 30px;
}

.reply-container{
    padding:10px;
    margin: 0px 40px;
    background-color: rgba(255, 255, 255, 0.932);
    height: auto;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 10px 11px 8px #fcfcfc38;
    display: inline-block;
}

.profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile0{
    margin-left: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.reply-content{
    margin: 1% 12%;
    font-size: 18px;
    font-weight: normal;
}

.re-vote{
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}

.rname{
    margin-left: 5px;
    position: relative;
    top:0px;
    font-size: 12px;
}
.forum-contols{
    background-color: rgba(255, 255, 255, 0.26);
    font-size: 15px;
    height: 125px;
    width: 100px;
    float: right;
    margin: 0px 30px 0px 10px ;
   
}
.forum-content{
    width: 80%;
    padding: 20px 30px;
    font-size: 18px;
}

.forum-topic{
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #2E5F3E;

}

.like-unlike{
    padding: 0px 2px;
    height: 25px;
}

.like-unlike:hover{
    box-shadow: 2px 2px #6e6d6d59;
}



hr{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 3px #a9a9ac1a;
    height: 1.5px;
}
.nreply{
margin-left: 60px;
font-size: 22px;
font-weight: bold;
color: rgb(31, 31, 31);
}

.back-button {
    background: rgb(60, 196, 19);
    color: white;
    font-size: 25px;
    line-height: 0.3;
    padding: 20px 20px 15px 15px;
    text-decoration: none;
    transition: all 0.9s;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}
  
.back-button:hover {
    background: rgba(131, 134, 134, 0.8);
}

@media screen and (max-width: 600px) {
    .rname{font-size: 10px;}
    .profile{width: 30px;}
    .re-vote{margin-top: 0px;
    font-size: 16px;}
    .forum-container{margin: 0px 5px 20px 5px;}
    .reply-container{margin: 3px 15px 15px 5px;}
    .TAcontainer{margin-left: 0%;}
    .replyh{margin-left: 0%;display: block;width: auto;}
} 

@media screen and (max-width: 600px) {
    .container{grid-template-columns: repeat(auto-fill, minmax(350px, 100%));}
    .ad{width:50%;height: 30%;margin-left: 25%;max-width: 200px;}
}


