.container{
    height: 300px;
    margin: 80px 0px;
    display: grid;
    grid-template-columns: 15% auto 20%;
    grid-gap: 50px;
    font-family:  Merriweather;
}

input[type="checkbox"]{
    /* height: 10px; */
    transform: scale(1.5);
    margin-left: 10px;
    margin-right: 15px;
    float: left;
}

.grid-item0{
    background-color: rgba(255, 255, 255, 0.945);
    text-align: left;
    padding: 25px 10px;
    height: 20%;
    position: sticky;
    width: 100%;
    top: 10px;
    margin-top: -15px;
}

.grid-item1{
    background-color: rgba(243, 243, 243, 0);
    text-align: left;
    padding: 20px 10px;
    font-size: 30px;
    height: auto;
}

.filter-screen{
    grid-area: topics;
    display: contents;
}

.fbtn{
    float: right;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    margin-right: 20px;
}

.fbtn:hover{
    background-color: #4CAF50;

}

.content{
    grid-area: items;
    color:  blue;
}

.filter-topic{
    font-size: 23px;
    font-weight: bold;

}

.filter-items{
    padding-left: 30px;
    font-size: 20px;
    font-weight: light;
    cursor: pointer;
    margin-top: 10px;

}

.filter-topic ::before{
    content:"\f007";
}

.forum-container{
    padding:25px;
    margin: 0px 30px;
    height: auto;
    font-weight: 700;
    box-shadow: -10px -10px 10px #80808009;

    
    
}
.forum-container:hover{
    box-shadow: 15px 6px 10px #4b4b4d2c;

}

.forum-contols{
    background-color:  rgba(236, 235, 235, 0);
    font-size: 15px;
    height: 125px;
    width: 100px;
    float: right;
    padding-top: 0px;
    color: #2E5F3E;
    ;
}
.forum-content{
    padding: 18px 30px;
    font-size: 15px;
    min-height: 55px;
}
.author{
    font-weight: lighter;
    font-size: 10px;
}
.forum-topic{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;

}

.links:link{
    margin: auto;
    align-content: center;
    color: #2E5F3E;
    text-decoration: double;
    font-weight: bolder;
}

.links:visited{
    color: #2E5F3E;
    text-decoration: none;
}

.links:hover{
    color: #181d19;
    text-decoration: none;
}

.ad{
    margin-top: 200px;
    height: auto;
    width: 100%;
}

.reply{
    font-size: 13px;
    margin-left: 30px;
    margin-right: 80px;
    padding: 5px;
    font-weight: normal;
}

.like-unlike{
    padding: 0px 2px;
    height: 20px;
}

.like-unlike:hover{
    box-shadow: 2px 2px #6e6d6d59;
}

@media screen and (max-width: 600px) {
    .container{grid-template-columns: repeat(auto-fill, minmax(350px, 100%));}
    .grid-item0{width: 40%; height: auto;}
    .container{grid-gap: 0px;}
    .forum-container{height: 250px;}
    .forum-content{display: none;}
    .reply{display: none;}
    .ad{width:50%;height: 30%;margin-left: 25%;}
    .forum-contols{margin-left: 30%;}
    body{top:60px !important;}
}

.admin-btn {
    margin: 0px 10px 30px 30px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background:  #4CAF50;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    color: white;
  }
  
  .admin-btn:hover {
    background: rgb(89, 190, 22);
    color: rgb(255, 255, 255);
  }

  @media screen and (max-width: 725px) {
    .admin-btn {
      width: 100px;
      height: 50px;
      margin: 0px 10px 20px 10px;
        font-size: 11px;
        font-weight: 600;
        padding: 10px 10px;
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    background-image: url(/thoga.lk/public/images/forum/forum-bg4.jpg);
    background-size: cover; 
    margin: auto;
    padding: 0px 25px 0px 25px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #080505;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -1vh;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(128, 27, 27);
    text-decoration: none;
    cursor: pointer;
  }

  .modeltopic{
      padding: 5px 0px 5px 40%;
      font-size: 30px;
      font-weight: bold;
      margin: auto;
  }

  .mheader{
      background-color: rgba(255, 255, 255, 0.062);
      height: 50px;
      border-bottom: #000 0px solid;
      text-decoration: underline;
  }

  .newforum{
      margin: 10% 5%;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      height:auto
  }

  input[type=text]::placeholder{
    font-size: 20px;
  }

  textarea{
    border: 3px solid rgb(11, 139, 21);
      
  }

  input[type=text]{
      width: 80%;
      font-size: 20px;
      padding: 12px 20px;
      display: inline-block;
      border: 2px solid rgb(11, 139, 21);
      border-radius: 4px;
      margin: 0% 0% 0% 5%;
      margin-bottom: 20px;
  }

  .description{
      margin-left: 8%;
      margin-bottom: 10px;
      font-size: 25px;
      height: 100px;
      width: 77%;
      min-height: 150px;
  }

  input[type=submit]{
    font-size: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 35%;
  }

  @media screen and (max-width: 768px) {
    input[type=submit]{
        font-size: 20px;width: auto;font-weight: bold;}
    .modal-content{width: 100%;padding: 0px;}
    input[type=text]{
        font-size: 16px;}
    .newforum{margin: 3% 5%;}
    .description{margin-left: 10%;}
}

.fsubmit-btn {
    margin: 0px 10px 30px 80px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background:  #4CAF50;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #000;
    width: 180px;
    height: 50px;
    color:#fff;
  }
  
.fsubmit-btn:hover {
    background: rgb(21, 114, 9);
    color: rgb(255, 255, 255);
}
  

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4CAF50;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 50px;
  height: 40px;
  border: 1px solid #4CAF50;
  background: #4CAF50;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 80%;
  position: relative;
  top: 10%;
}

